@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    background-image: url('/images/desktop-b2.jpeg');
    background-position: center;
    background-size: cover;
    font-family: 'Source Code Pro', monospace;
    margin: 0 auto;
    div.wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        div.editor-simulation {
            border-radius: 5px;
            height: 90vh;
            width: 75%;
            background-color: #4e4e4e;
            -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
            header {
                height: 3vh;
                padding: 0 10px;
                background-color: #6d6d6d;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                div.window-buttons {
                    display: flex;
                    color: #333;
                    .button {
                        width: 13px;
                        height: 13px;
                        border-radius: 100%;
                        &:not(:first-child) {
                            margin-left: 10px;
                        }
                    }
                    .red {
                        background-color: #ff5b5b;
                    }
                    .yellow {
                        background-color: #ffea2e;
                    }
                    .green {
                        background-color: #00ff00;
                    }
                }
                div.logo {
                    margin: 0 auto;
                    color: #fff;
                    font-size: .7rem;
                }
            }
            div.explorer-and-edit {
                display: flex;
                div.explorer {
                    background-color: #616161;
                    width: 50px;
                    height: 84vh;
                    border-bottom-left-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 20px 0;
                    ul.nav {
                        li {
                            text-align: center;
                            i {
                                color: #b8b8b8;
                                font-size: 1.3rem;
                                cursor: pointer;
                                &:hover {
                                    color: #fff;
                                    transition: color .3s linear;
                                }
                            }
                        }
                    }
                    div.social {
                        ul.social-nav {
                            li {
                                text-align: center;
                                &:not(:last-child) {
                                    margin-bottom: 15px;
                                }
                                i {
                                    color: #b8b8b8;
                                    font-size: 1.3rem;
                                    cursor: pointer;
                                    &:hover {
                                        color: #fff;
                                        transition: color .3s linear;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            div.footer {
                height: 3vh;
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                div.copyright {
                    color: #fff;
                    font-size: .7rem;
                    height: 100%;
                    padding: 4px 0 4px 10px;
                    align-self: center;
                    width: 25%;
                    background-color: #00c000;
                    letter-spacing: 1px;
                    border-bottom-left-radius: 4px;
                }
                div.hire-me {
                    color: #fff;
                    font-size: .7rem;
                    width: 75%;
                    height: 100%;
                    padding: 4px 10px 4px 0;
                    text-align: right;
                    background-color: #00b7ff;
                    letter-spacing: 1px;
                    border-bottom-right-radius: 4px;
                }
            }
        }
    }
}