@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
$darkBg: #272727;
$medDarkBg: #3d3d3d;
$lightGray: #424242;
$iconColor: #7e7e7e;
$glance: 1px solid #fff;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #b8b8b8;
}

img {
    display: block;
    width: 100%;
}

::-webkit-scrollbar {
    display: none;
}

// GLOBAL
span.html-mock {
    color: #009cf7;
}

.angle {
    color: #888888;
}

body {
    background-position: center;
    background-size: cover;
    font-family: "Source Code Pro", monospace;
    margin: 0 auto;
    div.wrapper {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        div.landing {
            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-image: url("/images/desktop-b4.jpeg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            div.menu-bar {
                position: absolute;
                top: 0;
                width: 100%;
                background-color: rgba(51, 51, 51, 0.801);
                height: 3vh;
                ul {
                    display: flex;
                    margin-left: 15px;
                    align-items: center;
                    height: 100%;
                    li {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 0.8rem;
                        color: #fff;
                        &:not(:first-child) {
                            margin-left: 15px;
                        }
                    }
                    li.important {
                        font-weight: bolder;
                    }
                }
            }
            div.vscode-icon {
                align-self: center;
                width: 100px;
                cursor: pointer;
                p.caption {
                    color: #fff;
                    letter-spacing: 2px;
                    margin-top: 10px;
                    text-align: center;
                    font-size: 1.1rem;
                    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.58);
                }
                &:hover {
                    width: 125px;
                    transition: width 0.2s linear;
                }
            }
        }
        div.editor-simulation {
            display: none;
            border-radius: 5px;
            height: 90vh;
            // min-height: 800px;
            width: 75%;
            background-color: $darkBg;
            -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
            header {
                height: 3vh;
                padding: 0 10px;
                background-color: $lightGray;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                overflow: hidden;
                div.window-buttons {
                    display: flex;
                    color: #333;
                    .button {
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        &:not(:first-child) {
                            margin-left: 10px;
                        }
                    }
                    .red {
                        background-color: #ff5b5b;
                    }
                    .yellow {
                        background-color: #ffea2e;
                    }
                    .green {
                        background-color: #00ff00;
                    }
                }
                div.logo {
                    margin: 0 auto;
                    color: #fff;
                    font-size: 0.7rem;
                }
            }
            div.explorer-and-edit {
                display: flex;
                div.explorer {
                    background-color: $medDarkBg;
                    width: 50px;
                    height: 87vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-bottom: 20px;
                    ul.nav {
                        li {
                            text-align: center;
                            padding: 10px;
                            &:not(:first-child) {
                                margin-top: 5px;
                            }
                            i {
                                color: $iconColor;
                                font-size: 1.3rem;
                                cursor: pointer;
                                &:hover {
                                    color: #fff;
                                    transition: color 0.2s linear;
                                }
                            }
                        }
                        li.user {
                            border-left: 2px solid #fff;
                            i {
                                color: #fff;
                            }
                        }
                    }
                    div.social {
                        ul.social-nav {
                            li {
                                display: none;
                                text-align: center;
                                &:not(:last-child) {
                                    margin-bottom: 15px;
                                }
                                i {
                                    color: $iconColor;
                                    font-size: 1.3rem;
                                    cursor: pointer;
                                    &:hover {
                                        color: #fff;
                                        transition: color 0.2s linear;
                                    }
                                }
                            }
                        }
                    }
                }
                div.edit {
                    position: relative;
                    width: 100%;
                    div.edit-head {
                        ul {
                            display: flex;
                            height: 4vh;
                            overflow: scroll;
                            li {
                                border-right: 1px solid #333;
                                border-bottom: 0;
                                background-color: #505050;
                                text-align: center;
                                padding: 7px;
                                color: #b8b8b8;
                                font-size: 0.7rem;
                                cursor: pointer;
                                i {
                                    margin-right: 7px;
                                    font-size: 0.8rem;
                                }
                                span.close {
                                    display: inline-block;
                                    position: relative;
                                    top: 2px;
                                    margin-left: 7px;
                                    font-size: 1rem;
                                    cursor: pointer;
                                    color: #9b9b9b;
                                }
                            }
                            li.readme {
                                background-color: #272727;
                                i {
                                    color: #00b7ff;
                                }
                            }
                            li.git-projects {
                                display: none;
                                i {
                                    color: #00b7ff;
                                }
                            }
                            li.contact {
                                display: none;
                                i {
                                    color: #00b7ff;
                                }
                            }
                        }
                        div.path {
                            position: relative;
                            overflow: hidden;
                            height: 2vh;
                            z-index: 100;
                            color: #9b9b9b;
                            font-size: 0.5rem;
                            padding: 2px 0 2px 8px;
                            // border-top: 1px solid #474747;
                            -webkit-box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.75);
                            -moz-box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.75);
                            box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.75);
                        }
                        div.projects-path {
                            display: none;
                        }
                        div.contact-path {
                            display: none;
                        }
                        .path-icon {
                            color: #00b7ff;
                        }
                        .astro {
                            color: #00c000;
                        }
                    }
                    div.inner-content {
                        height: 80vh;
                        overflow-y: scroll;
                        display: flex;
                        position: relative;
                        z-index: 200;
                        margin-top: 8px;
                        div.line-numbers {
                            margin-top: 3px;
                            height: 100%;
                            ul {
                                display: flex;
                                flex-direction: column;
                                border-right: 1px solid #ffffff2d;
                                height: 100%;
                                padding-top: 15px;
                                li {
                                    padding: 1.5px 20px;
                                    text-align: right;
                                    border-right: none;
                                    background-color: $darkBg;
                                    color: $iconColor;
                                    font-size: 0.7rem;
                                }
                            }
                        }
                        div.naya-image-cont-max {
                            // border: $glance;
                            padding: 20px;
                            // margin-top: 10px;
                            width: 40%;
                            font-size: 1rem;
                            height: 100%;
                            // -webkit-box-shadow: 2px 0px 7px 0px rgba(0, 0, 0, 0.75);
                            // -moz-box-shadow: 2px 0px 7px 0px rgba(0, 0, 0, 0.75);
                            // box-shadow: 2px 0px 7px 0px rgba(0, 0, 0, 0.75);
                            // align-self: center;
                            border-right: 1px solid #333;
                            img {
                                border-radius: 5px;
                                width: 75%;
                            }
                            div.name-wrapper {
                                margin-bottom: 15px;
                                h3.name {
                                    display: inline;
                                    margin: 7px 0;
                                    color: #fff;
                                    text-align: left;
                                }
                            }
                            p.about {
                                color: #9b9b9b;
                                text-align: left;
                                line-height: 1.4;
                            }
                        }
                        div.skills-education {
                            width: 42%;
                            padding: 20px;
                            h3.tech-skills-title {
                                color: #fff;
                                margin: 8px 0;
                            }
                            div.languages,
                            div.library-frameworks {
                                margin-top: 15px;
                                ul {
                                    border: 3px solid #9b9b9b;
                                    border-radius: 10px;
                                    li.sub-title {
                                        border-bottom: 3px solid #9b9b9b;
                                        width: 100%;
                                        padding: 10px;
                                    }
                                    li {
                                        display: flex;
                                        align-items: center;
                                        margin-bottom: 10px;
                                        color: #9b9b9b;
                                        padding-left: 15px;
                                        padding-bottom: 8px;
                                        div.lang-logo {
                                            width: 20px;
                                        }
                                        div.lang-title {
                                            margin-left: 8px;
                                        }
                                    }
                                }
                            }
                            div.divider {
                                margin-top: 15px;
                                color: #006d00bd;
                            }
                        }
                        div.naya-image-cont-min {
                            position: absolute;
                            // top: 59px;
                            right: 10px;
                            z-index: 100;
                            width: 8%;
                            font-size: 5px;
                            height: 79vh;
                            overflow-y: scroll;
                            cursor: pointer;
                            padding: 5px;
                            -webkit-box-shadow: -4px 0px 5px -2px rgba(0, 0, 0, 0.75);
                            -moz-box-shadow: -4px 0px 5px -2px rgba(0, 0, 0, 0.75);
                            box-shadow: -4px 0px 5px -2px rgba(0, 0, 0, 0.75);
                            h3.name {
                                margin: 7px 0;
                                color: #9b9b9b;
                                text-align: left;
                            }
                            p.about {
                                color: #9b9b9b;
                                text-align: left;
                            }
                            span.html-mock-min {
                                color: #34d6ff;
                            }
                            .angle-min {
                                color: #888888;
                            }
                            // h3.phone {
                            //     font-size: 1rem;
                            //     text-align: right;
                            //     i {
                            //         font-size: 1.3rem;
                            //         color: #00c000;
                            //     }
                            // }
                            // h3.email {
                            //     font-size: 1rem;
                            //     text-align: right;
                            //     i {
                            //         font-size: 1.3rem;
                            //         color: #00c000;
                            //     }
                            // }
                            &:hover {
                                background-color: #5e5e5e7a;
                                transition: background-color 0.3s linear;
                            }
                        }
                    }
                    div.footer {
                        width: 100%;
                        height: 2.2vh;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        // align-self: flex-end;
                        overflow: hidden;
                        div.copyright {
                            color: #fff;
                            font-size: 0.7rem;
                            height: 100%;
                            padding: 2px 0 2px 10px;
                            align-self: center;
                            width: 25%;
                            background-color: #00c000;
                            letter-spacing: 1px;
                            border-bottom-left-radius: 4px;
                        }
                        div.hire-me {
                            color: #fff;
                            font-size: 0.7rem;
                            width: 75%;
                            height: 100%;
                            padding: 2px 10px 2px 0;
                            text-align: right;
                            background-color: #208ae0;
                            letter-spacing: 1px;
                            border-bottom-right-radius: 4px;
                            div.hire {
                                margin-right: 20px;
                            }
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}