@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap");
$darkBg: #272727;
$medDarkBg: #3d3d3d;
$lightGray: #424242;
$iconColor: #7e7e7e;
$glance: 1px solid #fff;
$fontColor: #9b9b9b;
// GLOBAL
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $fontColor;
}

.important-link {
    text-decoration: underline;
    color: #007fd3;
}

img {
    display: block;
    width: 100%;
}

span.html-mock {
    color: #009cf7;
}

.angle {
    color: #888888;
}

div.tooltip {
    color: #c9c9c9;
    z-index: 300;
    left: 45px;
    width: 150px;
    padding: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: $medDarkBg;
    -webkit-box-shadow: -2px 4px 12px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 4px 12px -2px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 4px 12px -2px rgba(0, 0, 0, 0.75);
}

div.divider {
    margin-top: 15px;
    color: #009b00bd;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

// html {
//     overflow: -moz-scrollbar-vertical;
//     overflow-y: scroll;
// }
body {
    background-image: url("/images/desktop-b4.jpeg");
    background-position: center;
    background-size: cover;
    font-family: "Source Code Pro", monospace;
    margin: 0 auto;
    div.wrapper {
        width: 100%;
        height: 100%;
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        div.landing {
            position: relative;
            width: 100%;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-image: url("/images/desktop-b4.jpeg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            div.menu-bar {
                position: absolute;
                top: 0;
                width: 100%;
                background-color: rgba(51, 51, 51, 0.801);
                height: 3vh;
                ul {
                    display: flex;
                    margin-left: 15px;
                    align-items: center;
                    height: 100%;
                    li {
                        font-family: Arial, Helvetica, sans-serif;
                        font-size: 0.8rem;
                        color: #fff;
                        &:not(:first-child) {
                            margin-left: 15px;
                        }
                    }
                    li.important {
                        font-weight: bolder;
                    }
                }
            }
            div.vscode-icon {
                align-self: center;
                width: 100px;
                cursor: pointer;
                p.caption {
                    color: #fff;
                    letter-spacing: 2px;
                    margin-top: 10px;
                    text-align: center;
                    font-size: 1.1rem;
                    text-shadow: 0px 0px 9px rgba(0, 0, 0, 0.58);
                }
                &:hover {
                    width: 125px;
                    transition: width 0.2s linear;
                }
            }
        }
        div.editor-simulation {
            display: none;
            border-radius: 5px;
            height: 100vh;
            width: 100%;
            background-color: $darkBg;
            -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.75);
            header {
                height: 2.5vh;
                padding: 0 10px;
                background-color: $lightGray;
                display: flex;
                justify-content: space-between;
                align-items: center;
                overflow: hidden;
                div.window-buttons {
                    display: flex;
                    color: #333;
                    .button {
                        width: 10px;
                        height: 10px;
                        border-radius: 100%;
                        &:not(:first-child) {
                            margin-left: 10px;
                        }
                    }
                    .red {
                        background-color: #ff5b5b;
                    }
                    .yellow {
                        background-color: #ffea2e;
                    }
                    .green {
                        background-color: #00ff00;
                    }
                }
                div.logo {
                    margin: 0 auto;
                    color: #fff;
                    font-size: 0.7rem;
                }
            }
            div.explorer-and-edit {
                display: flex;
                height: 97.5vh;
                div.explorer {
                    background-color: $medDarkBg;
                    width: 5%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding-bottom: 25px;
                    border-bottom-left-radius: 5px;
                    ul.nav {
                        li {
                            text-align: center;
                            padding: 10px;
                            &:not(:first-child) {
                                margin-top: 5px;
                            }
                            i {
                                color: $iconColor;
                                font-size: 1.3rem;
                                cursor: pointer;
                                &:hover {
                                    color: #fff;
                                    transition: color 0.2s linear;
                                }
                            }
                        }
                        li.user {
                            border-left: 2px solid #fff;
                            i {
                                color: #fff;
                            }
                        }
                        li.contact-me {
                            display: none;
                        }
                    }
                    div.social {
                        ul.social-nav {
                            li {
                                display: none;
                                text-align: center;
                                &:not(:last-child) {
                                    margin-bottom: 15px;
                                }
                                i {
                                    color: $iconColor;
                                    font-size: 1.3rem;
                                    cursor: pointer;
                                    &:hover {
                                        color: #fff;
                                        transition: color 0.2s linear;
                                    }
                                }
                            }
                        }
                    }
                }
                div.edit {
                    position: relative;
                    width: 95%;
                    height: 100%;
                    // overflow-y: scroll;
                    div.edit-head {
                        ul {
                            display: flex;
                            height: 3.5vh;
                            li {
                                border-right: 1px solid #333;
                                border-bottom: 0;
                                background-color: #505050;
                                text-align: center;
                                padding: 7px;
                                color: #b8b8b8;
                                font-size: 0.7rem;
                                cursor: pointer;
                                i {
                                    margin-right: 7px;
                                    font-size: 0.8rem;
                                }
                                span.close {
                                    display: inline-block;
                                    position: relative;
                                    top: 2px;
                                    margin-left: 7px;
                                    font-size: 1rem;
                                    cursor: pointer;
                                    color: #9b9b9b;
                                }
                            }
                            li.readme {
                                background-color: #272727;
                                i {
                                    color: #00b7ff;
                                }
                            }
                            li.git-projects {
                                // display: none;
                                i {
                                    color: #00b7ff;
                                }
                            }
                            li.contact {
                                display: none;
                                i {
                                    color: #00b7ff;
                                }
                            }
                        }
                        div.path {
                            position: relative;
                            overflow: hidden;
                            z-index: 100;
                            color: #9b9b9b;
                            font-size: 0.5rem;
                            padding: 2px 0 2px 8px;
                            -webkit-box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.75);
                            -moz-box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.75);
                            box-shadow: 0px 3px 2px -1px rgba(0, 0, 0, 0.75);
                        }
                        div.projects-path {
                            display: none;
                        }
                        div.contact-path {
                            display: none;
                        }
                        .path-icon {
                            color: #00b7ff;
                        }
                    }
                    div.inner-content {
                        width: 100%;
                        height: 88vh;
                        overflow-y: scroll;
                        display: flex;
                        position: relative;
                        z-index: 200;
                        padding-top: 5px;
                        div.line-numbers {
                            margin-top: 3px;
                            height: 100%;
                            width: 5%;
                            ul {
                                display: flex;
                                flex-direction: column;
                                border-right: 1px solid #ffffff2d;
                                height: 100%;
                                padding-top: 15px;
                                li {
                                    padding: 2px 20px;
                                    text-align: right;
                                    border-right: none;
                                    background-color: $darkBg;
                                    color: $iconColor;
                                    font-size: 0.7rem;
                                }
                            }
                        }
                        div.naya-image-cont-max {
                            padding: 20px 20px 0 20px;
                            width: 35%;
                            font-size: 1rem;
                            height: 100%;
                            border-right: 1px solid #333;
                            overflow-y: scroll;
                            img {
                                border-radius: 5px;
                                width: 75%;
                            }
                            div.name-wrapper {
                                margin-bottom: 15px;
                                h3.name {
                                    display: inline;
                                    margin: 7px 0;
                                    color: #fff;
                                    text-align: left;
                                }
                            }
                            p.about {
                                color: #9b9b9b;
                                text-align: left;
                                line-height: 1.4;
                            }
                            div.education {
                                div.fs {
                                    display: flex;
                                    padding: 10px 0;
                                    margin-top: 15px;
                                    div.fs-logo {
                                        width: 30px;
                                    }
                                    div.fs-title {
                                        color: #fff;
                                    }
                                }
                                div.achievement {
                                    color: #9b9b9b;
                                    margin-top: 20px;
                                    div.ed-icon {
                                        margin-right: 10px;
                                        text-align: center;
                                        i {
                                            font-size: 1.2rem;
                                        }
                                    }
                                    div.award {
                                        display: flex;
                                        align-items: center;
                                    }
                                    div.doc {
                                        display: flex;
                                        align-items: center;
                                        margin-top: 15px;
                                        div.award-date {
                                            margin-left: 7px;
                                        }
                                    }
                                }
                            }
                        }
                        div.skills-education {
                            width: 45%;
                            height: 100%;
                            padding: 20px 20px 0 20px;
                            overflow-y: scroll;
                            position: relative;
                            h3.tech-skills-title {
                                color: #fff;
                                margin: 8px 0;
                            }
                            div.languages,
                            div.library-frameworks,
                            div.databases,
                            div.deployment {
                                margin-top: 15px;
                                ul {
                                    border: 1px solid #9b9b9b;
                                    border-radius: 10px;
                                    li.sub-title {
                                        border-bottom: 1px solid #9b9b9b;
                                        width: 100%;
                                        padding: 10px;
                                        color: #fff;
                                        i {
                                            margin-right: 15px;
                                        }
                                    }
                                    li {
                                        display: flex;
                                        align-items: center;
                                        margin-bottom: 10px;
                                        color: #9b9b9b;
                                        padding: 8px 0 8px 15px;
                                        div.lang-logo {
                                            width: 30px;
                                            img {
                                                width: 100%;
                                            }
                                        }
                                        div.lang-title {
                                            margin-left: 10px;
                                            font-size: 1.1rem;
                                        }
                                    }
                                }
                            }
                            div.arrow {
                                display: none;
                                text-align: center;
                                margin-top: 20px;
                                position: sticky;
                                bottom: 0;
                                z-index: 300;
                                i {
                                    display: inline-block;
                                    font-size: 2.5rem;
                                    color: rgba(255, 255, 255, 0.651);
                                }
                            }
                        }
                        div.my-projects {
                            display: none;
                            width: 100%;
                            div.project {
                                div.project-head {
                                    display: flex;
                                    align-items: center;
                                    padding: 20px 25px 60px 25px;
                                    color: #eeeeee;
                                    -webkit-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.75);
                                    -moz-box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.75);
                                    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.75);
                                    div.app-logo {
                                        margin-right: 15px;
                                        width: 250px;
                                    }
                                    div.project-about {
                                        div.head-content {
                                            ul.misc {
                                                display: flex;
                                                align-items: center;
                                                margin: 3px 0;
                                                li {
                                                    &:not(:last-child) {
                                                        margin-right: 5px;
                                                    }
                                                }
                                                li.downloads {
                                                    font-size: 0.8rem;
                                                }
                                                li.rating {
                                                    font-size: 0.7rem;
                                                }
                                            }
                                            p.one-liner {
                                                font-size: 0.9rem;
                                            }
                                        }
                                    }
                                    span {
                                        font-size: 0.9rem;
                                        margin-left: 5px;
                                    }
                                }
                                div.project-body {
                                    padding: 30px 50px;
                                    width: 90%;
                                    margin: 0 auto;
                                    color: #eeeeee;
                                    h1 {
                                        margin-bottom: 20px;
                                        border-bottom: 1px solid #fff;
                                        padding-bottom: 10px;
                                    }
                                    p.summary {
                                        font-size: 0.8rem;
                                        margin-bottom: 20px;
                                    }
                                    ul {
                                        width: 90%;
                                        margin: 0 auto;
                                        li {
                                            font-size: 0.8rem;
                                            list-style-type: square;
                                            &:not(:last-child) {
                                                margin-bottom: 5px;
                                            }
                                        }
                                    }
                                    div.demo {
                                        width: 90%;
                                        margin: 30px auto 0 auto;
                                    }
                                    div.alt-links {
                                        margin: 35px auto;
                                        width: 90%;
                                        font-size: 0.9rem;
                                        a {
                                            display: inline-block;
                                            color: #007fd3;
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                        }
                        div.naya-image-cont-min {
                            position: absolute;
                            right: 10px;
                            z-index: 100;
                            width: 8%;
                            height: 85vh;
                            overflow-y: scroll;
                            cursor: pointer;
                            padding: 5px;
                            -webkit-box-shadow: -4px 0px 5px -2px rgba(0, 0, 0, 0.75);
                            -moz-box-shadow: -4px 0px 5px -2px rgba(0, 0, 0, 0.75);
                            box-shadow: -4px 0px 5px -2px rgba(0, 0, 0, 0.75);
                            &:hover {
                                background-color: #5e5e5e7a;
                                transition: background-color 0.3s linear;
                            }
                        }
                    }
                    div.footer {
                        width: 100%;
                        height: 2.7vh;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        overflow: hidden;
                        position: absolute;
                        bottom: 0;
                        div.copyright {
                            display: inline-block;
                            color: #fff;
                            font-size: 0.7rem;
                            height: 100%;
                            padding: 3px 0 0 10px;
                            width: 25%;
                            background-color: #00c000;
                            letter-spacing: 1px;
                            span {
                                display: inline-block;
                            }
                        }
                        div.hire-me {
                            color: #fff;
                            font-size: 0.7rem;
                            width: 75%;
                            height: 100%;
                            padding: 3px 10px 0 0;
                            text-align: right;
                            background-color: #208ae0;
                            letter-spacing: 1px;
                            div.hire {
                                margin-right: 20px;
                            }
                            a {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}